<div class="container-fluid review-show">
  <div class="row">

    <div class="col-md-3">
      <%= render "shared/user-profile" %>
    </div>

    <div class="col-md-7">

      <div class="user-show_tabs">
        <input id="tab1" type="radio" name="a" checked>
        <label class="user-show_tabs_label" for="tab1">読んだ本</label>
        <input id="tab2" type="radio" name="a">
        <label class="user-show_tabs_label" for="tab2">読んでる本</label>
        <input id="tab3" type="radio" name="a">
        <label class="user-show_tabs_label" for="tab3">読みたい本</label>
        <input id="tab4" type="radio" name="a">
        <label class="user-show_tabs_label" for="tab4">おすすめ本</label>

        <div class="user-show_tab_content" id="tab1_content">
          <div class="tab_content_description">
            <div class="card-deck user-show_books">
              <div class="card-body d-flex flex-wrap">
                <% @user.books.each do |book| %>
                  <div class="col-md-3 border-0">
                    <div class="text-center">
                      <%= link_to review_path(book.reviews.ids) do %>
                        <%= image_tag(book[:image_url], class: "user-show_book_img") %>
                      <% end %>
                      <div class="card-body">
                        <div class="card-title">
                          <%= book[:title] %>
                        </div>
                        <div class="card-text">
                          <%= book[:authors] %>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="user-show_tab_content" id="tab2_content">
          <div class="tab_content_description">
            読んでる本
          </div>
        </div>
        <div class="user-show_tab_content" id="tab3_content">
          <div class="tab_content_description">
            読みたい本
          </div>
        </div>
        <div class="user-show_tab_content" id="tab4_content">
          <div class="tab_content_description">
            おすすめ本
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-2">
      <div class="bg-primary"></div>
    </div>

  </div>
</div>