<div class="modal fade" id="post-review-modal" tabindex="-1" role="dialog"aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span id="post-review-modal-title">レビューを投稿する</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times text-muted"></i></span>
        </button>
      </div>
      <div class="modal-body row" id="modal-book-data">
        <div class="col-sm-3 border-right text-center">
          <%= image_tag('',
                        class: 'modal-review-img',
                        id: 'modal-review-img') %>
        </div>
        <div class="modal-text col-sm-9">

          <%# -----form_with----- %>
          <%= form_with model: @review do |f| %>
            <%= hidden_field_tag "user_book[status]", 0 %>
            <%= hidden_field_tag "book[title]", "", class: "modal-book-title" %>
            <%= hidden_field_tag "book[authors]", "", class: "modal-book-authors" %>
            <%= hidden_field_tag "book[image_url]", "", class: "modal-book-img" %>
            <%= hidden_field_tag "book[uid]", "", class: "modal-book-uid" %>

            <p class="text-center"><span class="red-point">*</span> は必須項目です</p>

            <%# -----読み終わった日----- %>
            <div class="row">
              <p class="col-lg-3 post-review-label my-auto">読み終わった日<span class="red-point">*</span></p>
              <div class="input-group date col-lg-3">
                <%= f.text_field :date, id:"date-input", class:"date result form-control review-date" %>
              </div>
            </div>

            <%# -----ジャンル----- %>
            <div class="row mt-3">
              <p class="col-lg-3 post-review-label my-auto">ジャンル<span class="red-point">*</span></p>
              <div class="col-lg-5 post-review-genre">
                <%= f.select :category, options_for_select(Review.categories.keys.map {|k| [I18n.t("enums.review.category.#{k}"), k]}, selected: @review.category), {include_blank: "選択してください"}, {class: "post-review-genre-select", required: true} %>
              </div>
            </div>

            <%# -----ヒトコト----- %>
            <div class="row mt-3">
              <p class="col-lg-3 post-review-label my-auto">ヒトコト<span class="red-point">*</span></p>
              <%= f.text_field :tegline, id:"review-tegline", class:"review-tegline col form-control mx-2", rows:"8", placeholder:"この本をヒトコトでいうと？", required: true %>
              <span class="review_count col-2">
                <span id="review-tegline_count"></span>
                <span>/25</span>
              </span>
            </div>

            <%# -----感想----- %>
            <div class="row my-3">
              <p class="col-lg-3 post-review-label">感想</p>
              <%= f.text_area :text, class:"review-text col form-control mx-2", id:"review-text", rows:"8" %>
              <span class="review_count col-2">
                <span id="review-text_count"></span>
                <span>/400</span>
              </span>
            </div>

            <%# -----印象に残ったフレーズ----- %>
            <div class="row my-2 phrase-form-area">
              <%= f.fields_for :impressive_phrase, @review.build_impressive_phrase do |phrase| %>
                <p class="col-lg-3 post-review-label my-auto">印象的なフレーズ</p>
                <div class="js-phrase-form-group col-lg-7 mb-2" data-index="<%= phrase.index %>">
                  <div class="phrase input-group">
                    <%= phrase.text_field :phrase, class:"form-control", id:"phrase-input_#{phrase.index}", placeholder: "印象的なフレーズを記入" %>
                  </div>
                </div>
              <% end %>
            </div>

            <%# -----アクションプラン----- %>
            <div class="row my-2 plan-form-area">
              <%= f.fields_for :action_plan, @review.build_action_plan do |plan| %>
                <p class="col-lg-3 post-review-label my-auto">アクションプラン<span class="red-point">*</span></p>
                <div class="js-plan-form-group col-lg-7" data-index="<%= plan.index %>">
                  <div class="plan input-group">
                    <%= plan.text_field :plan, class:"form-control", id:"plan-input", placeholder:"アクションプランを記入", required: true %>
                    <%= plan.text_field :deadline, id:"deadline-input", class:"date result form-control review-date", placeholder:"期限", required: true %>
                  </div>
                </div>
                <script>
                  $(function () {
                    $('.date').bootstrapMaterialDatePicker({
                        time: false,
                        lang:"ja",
                    });
                  });
                </script>
              <% end %>
            </div>

            <%# -----星評価機能----- %>
            <div class="row mt-2 mx-2" id="star">
              <p class="col-lg-3 post-review-rating my-auto">評価<span class="red-point">*</span></p>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/raty/3.0.0/jquery.raty.min.js"></script>
            <script>
              $('#star').raty({
                size: 36,
                starOff: "/assets/star-off.png",
                starOn: "/assets/star-on.png",
                scoreName: "review[rating]"
              });
            </script>

            <%# -----登録するボタン----- %>
            <div class="row">
              <div class="col-8"></div>
              <div class="col-3">
                <div class="col-9 d-flex">
                  <%= f.submit "登録する", class: "review-submit" %>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
