<div class="container-fulid">
  <div class="row">

    <div class="col-3">
      <%# -----プロフィール----- %>
      <%= link_to user_path(@user) do %>
        <div class="plans-card plans-profile-card">
          <div class="card-profile_img">
              <% if @user.image.attached? %>
                <%= image_tag(@user.image) %>
              <% else %>
                <%= image_tag("default-user.png")%>
              <% end %>
          </div>
          <div class="card-profile_name"><%= @user.username %></div>
        </div>
      <% end %>
      <%# -----グラフ----- %>
      <div class="plans-card progress-card">
        <canvas id="progressChart" width="350" height="350"></canvas>
        <p class="chart-title">アクションプラン<br><span class="chart-title-count"><%= @plans.count %></span></p>
        <script>
        var ctx = document.getElementById("progressChart").getContext('2d');
        var progressChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["完了", "未完了"],
                datasets: [{
                    label: '達成数',
                    data: ["<%= @completed_plans.count %>", "<%= @not_started_plans.count %>"],
                    backgroundColor: [
                        '#0080FF',
                        'orangered'
                    ],
                    borderColor: [
                        '#0080FF',
                        'orangered'
                    ],
                }]
            },
        });
        </script>
      </div>
    </div>

    <div class="col-6">
      <h4 class="text-center mt-4 mb-4">アクションプラン一覧</h4>
      <div class="container">
        <% if @plans.empty? %>
          <p class="text-center">アクションプランはまだありません</p>
        <% else %>
          <% @plans.each_with_index do |p, i| %>
            <div class="d-flex text-center plans-show">

              <% if p.progress == 0 %>
                <%# ----------未達成アクションプラン---------- %>
                <%= link_to review_path(p.review) do %>
                  <label class="plans-show-label plans-show-not_started text-white" for="plan_<%= i %>"><%= p.plan %></label>
                <% end %>
                <%# ----------未達成チェックボックス---------- %>
                <% if user_signed_in? && current_user.id == p.review.user_id %>
                  <input type="checkbox" id="plan_<%= i %>" class="plans-show-input" name="plan" data-index="<%= i %>" data-id="<%= p.id %>">
                <% end %>
              <% else %>
                <%# ----------達成アクションプラン---------- %>
                <%= link_to review_path(p.review) do %>
                  <label class="plans-show-label plans-show-completed text-white" for="plan_<%= i %>"><%= p.plan %></label>
                <% end %>
                <%# ----------達成チェックボックス---------- %>
                <% if user_signed_in? && current_user.id == p.review.user_id %>
                  <input type="checkbox" id="plan_<%= i %>" class="plans-show-input" name="plan" data-index="<%= i %>" data-id="<%= p.id %>" checked>
                <% end %>
              <% end %>

            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-3">

      <div class="plans-card remind-card">
        <h4 class="text-center">期限の近い<br>アクションプラン</h4>
        <% @remind_plans.first(3).each do |rp| %>
          <p class="plans-show-p plans-show-not_started text-white text-center">
            <%= rp.plan %>
          </p>
        <% end %>
      </div>

      <div class="plans-card contents-card">
        <div class="row plans-show-head mb-5">
          <div class="col-sm-6 text-center">
            <p>アクションプラン</p>
            <span class="plans-show-count plans_count"><%= @plans.count %></span>
          </div>
          <div class="col-sm-6 text-center">
            <p>完了数</p>
            <span class="plans-show-count completed_plans_count"><%= @completed_plans.count %></span>
          </div>
        </div>
        <div class="row plans-show-foot">
          <div class="col-sm-6 text-center">
            <p>読了数</p>
            <span class="plans-show-count reviews_count"><%= @reviews.count %></span>
          </div>
          <div class="col-sm-6 text-center">
            <p>達成率</p>
            <span class="plans-show-count plan_achievement_rate_count"><%= @plan_achievement_rate %>%</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>