<div class="container chat_area">
  <div id="chat_area">
    <div class="chat-title">
      <% @entries.each do |e| %>
        <% unless e.user.username == current_user.username %>
          <h4 class="chat-title_user">
            <a href="/users/<%= e.user.id %>"><%= e
            .user.username%></a>
          </h4>
        <% end %>
      <% end %>
    </div>
    <% @messages.each do |m| %>
      <% if m.user_id == current_user.id %>
        <%# -----右吹き出し----- %>
        <%= render partial: "rooms/right_chat", locals: { m: m } %>
      <% else %>
        <%# -----左吹き出し----- %>
        <div class="text-left left_chat">
          <%# -----ユーザー情報----- %>
          <div class="chatting-user d-flex mb-2">
            <% if m.user.image.attached? %>
              <%= image_tag m.user.image, class: "relationship_list-avatar-img" %>
            <% else %>
              <%= image_tag "default-user.png", class: "relationship_list-avatar-img" %>
            <% end %>
            <small class="chatting-user_name"><%= m.user.username %></small>
          </div>
          <div class="chat">
            <p class="left-message"><%= m.message %></p>
            <small class="chat-foot"><%= m.created_at.strftime('%Y/%m/%d %H:%M:%S') %></small>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%# -----チャットフォーム----- %>
  <div id="chat_form">
    <%= render "rooms/chat_form" %>
  </div>
</div>