<div class="review-blank"></div>
  <div class="reviews-index container-fluid">
    <div class="row">
      <div class="blank col-md-2">
      </div>
      <div class="review-index col-md-8">
        <%# -----投稿検索機能----- %>
        <%= form_with(url: reviews_searches_path, local: true, method: :get, class: "review-search_form") do |f| %>
          <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "review-search_input" %>
          <%= f.submit "検索", class: "review-search_btn" %>
        <% end %>
        <% @reviews.each do |review| %>
          <%= render partial: "shared/review", locals: { review: review } %>
        <% end %>
      </div>
    <%# ランキング機能 %>
    <div class="ranking-book col-md-2">
      <% if @ranking.present? %>
        <h4 class="ranking-book_top">人気の本</h4>
        <%# -----1位----- %>
        <% if @ranking.first.present? %>
          <p><i class="fas fa-crown rank1 fa-2x">1位</i></p>
          <%= image_tag @ranking.first[0].image_url %>
          <p class="ranking-book_title"><%= @ranking.first[0].title %></p>
        <% end %>
        <%# -----2位----- %>
        <% if @ranking.second.present? %>
          <p><i class="fas fa-crown rank2 fa-2x">2位</i></p>
          <%= image_tag @ranking.second[0].image_url %>
          <p class="ranking-book_title"><%= @ranking.second[0].title %></p>
        <% end %>
        <%# -----3位----- %>
        <% if @ranking.third.present? %>
          <p><i class="fas fa-crown rank3 fa-2x">3位</i></p>
          <%= image_tag @ranking.third[0].image_url %>
          <p class="ranking-book_title"><%= @ranking.third[0].title %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
